.background{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    text-align: center;
    color: white;
}
.head1{
    margin-top: 6vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.466);
    height: 100px;
    border-radius: 10px;
}
.head2{
    margin-left: 30vh;
    margin-top: 10vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.466);
    height: 160px;
    border-radius: 10px;
    width: 550px;
}
.head3{
    margin-left: 2vh;
    margin-top: 10vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.466);
    height: 160px;
    border-radius: 10px;
    width: 550px;
}
.head4{
    margin-left: 30vh;
    margin-top: 2vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.466);
    height: 160px;
    border-radius: 10px;
    width: 550px;
}
.head5{
    margin-left: 2vh;
    margin-top: 2vh;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.466);
    height: 160px;
    border-radius: 10px;
    width: 550px;
}

.button{
    background-color: rgb(236, 143, 174);
    border-radius: 20px;
    height: 35px;
    color: whitesmoke;
}
.display{
    display: flex;
    flex-direction: row;
}