.background{
    background-image: url(nature-2642043_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    text-align: center;
    color: whitesmoke;
    font-family: roboto;
    font-size: 20px;
}
.img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
}
.click{
    cursor: pointer;
}